body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
h1{
    text-align: center;
}

h2{
    text-align: center;       
}

.chicken,.beef,.sushi{
    background-color: red;
    border-style: solid;
    border-color: black;
    width: 50%;
    margin-left: 52%;
    
    
}


.first,.second,.third{
    width: 90%;
    border-style: solid;
    border-color: black;
    background-color: gray;
    
    padding: 10px;
    margin-top: 50px;
}

.m1{
    color: black;
    /*background-color: coral;
    border-style: solid;
    border-color: black;*/
    
}

.m2{
    color: white;
    
    /*background-color: coral;
    border-style: solid;
    border-color: black;*/
    
}

.m3{
    color: burlywood;
    /*
    background-color: yellow;
    border-style: solid;
    border-color: black;*/
}


.main{
    width: auto;
    background-color: white;
    border-style: none;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    align-content: center;
}

